@use '../abstracts' as *;
@use '../utilities' as *;

.popover {
  $minSpacing: 8px;
  position: absolute;
  @include paddingInUnits(4, 6, 4, 4, $minSpacing);
  @include radiusInUnits(4, 4, $minSpacing);
  @extend .colorSurfaceContainer;
  &__title {
    @include fontWeight(medium);
    margin-bottom: 0.125em;
  }
  &__subtitle {
    font-size: 0.875em;
    @include fontWeight(light);
    @include textColor(onSurfaceVariant);
    &:not(.popover__subtitle:last-child) {
      @include marginInUnits(0, 0, 4, 0);
    }
  }
}
